{{> head }}
    {{> navbar }}
<div class="row container mt-3">
    <div class="col-8">
        <h1>Ariana</h1>
    </div>
    <div class="col-4">
        <img src="/assets/img/ariana.jpeg" class="img-thumbnail" alt="">
    </div>
</div>



{{> footer }}